/*
Theme Name: Schad Refractory
Theme URI: http://schadrefractory.com/
Description: A Custom WP Theme for Schad Refractory
Author: Element5 Digital
Author URI: https://element5digital.com;
Version: 1.0
*/
/* Newsletter Subscription */
footer #footertop .widget {
	width: 32.33% !important;
	margin: 0 .5% !important;
	float: left;
	padding: 0 5px;
}

footer[role="contentinfo"] #footertop .widget:nth-child(2) {
	float: left !important;
}

footer[role="contentinfo"] #footertop .widget h3 span:before,
footer[role="contentinfo"] #footertop .widget h3 span:after {
	width: 60px !important;
}

footer[role="contentinfo"] #footertop .widget .textwidget a.btn.white {
	display: block !important;
}

footer #footertop .widget .gform_wrapper {
	margin: 0 auto;
}

footer #footertop .widget .gform_footer {
	margin: 0;
}

footer #footertop .widget .gform_footer input[type=submit] {
	background-color: #fff;
	color: #000;
	text-transform: uppercase;
	font-size: 1em;
	font-family: 'Lato', sans-serif;
}

#text-6 a {
	color: #fff;
}

/* footer fix 12/21/16 */
@media screen and (max-width:768px) {
	footer[role="contentinfo"] #footertop .widget {
		width: 100% !important;
	}
}

/* SLIDER UPDATE 3/10 */
#slider .flexslider .slides>li {
	height: 730px;
}

#slider .flexslider .slides>li h2 {
	max-width: 1200px;
	margin: 0 auto !important;
	line-height: 90%;
}

section#slider .flexslider .slidecontent p {
	width: 40%;
	margin: 2% 30%;
}

section#slider .flexslider .slidecontent a.btn {
	margin: 0;
}

/* LANDING UPDATE */
.page-template-page-landing header[role="banner"] {
	border: none;
	background-color: #676767;
	z-index: 2;
	position: relative;
}

.page-template-page-landing header[role="banner"] .headertop p {
	margin: 0 auto;
	display: table;
	text-transform: uppercase;
	font-size: 16px;
	letter-spacing: 1px;
}

.page-template-page-landing header[role="banner"] .headertop .right {
	float: none;
	margin: 0 auto;
	display: table;
}

.page-template-page-landing header[role="banner"] .headertop .right a {
	color: #fff;
	text-decoration: underline;
	text-transform: uppercase;
	font-size: 16px;
	letter-spacing: 1px;
	font-weight: normal;
}

.page-template-page-landing header[role="banner"] .headertop .right span {
	margin: 0;
}

.page-template-page-landing header[role="banner"] .grey-bar p {
	margin: 0;
	color: #fff;
	font-weight: bold;
	letter-spacing: 1px;
	font-size: 30px;
	text-align: center;
	padding: 10px;
}

.page-template-page-landing header[role="banner"] a.logo {
	width: 100px;
}

.page-template-page-landing section#headerimg {
	min-height: calc(100vh - 150px);
	display: table;
	z-index: 0;
	background-position: center center;
}

.page-template-page-landing section#headerimg .wrap {
	text-align: center;
	position: absolute;
	bottom: 25vh;
	margin-left: -400px;
	max-width: 800px;
	left: 50%;
}

.page-template-page-landing section#headerimg .wrap h1 {
	font-weight: bold;
	font-size: 70px;
	text-transform: none;
	margin: 0;
	line-height: 1;
	transform: none;
	text-align: center;
	text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.page-template-page-landing section#headerimg .wrap h2 {
	color: #fff;
	font-family: 'Lato', sans-serif;
	margin: 10px 0 50px 0;
	line-height: 1;
	text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	font-size: 40px;
	letter-spacing: 1px;
}

.page-template-page-landing section#headerimg .wrap a.btn {
	background: #c72026;
	color: white;
	font-size: 20px;
	text-transform: none;
	font-weight: bold;
	letter-spacing: 1px;
	border-color: #fff;
}

.page-template-page-landing section#headerimg .wrap a.btn:hover {
	border-color: #c72026;
}

.page-template-page-landing .red-banner {
	clear: both;
	background: #c72026;
	padding: 10px;
}

.page-template-page-landing .red-banner h2 {
	color: white;
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 1px;
	font-weight: bold;
	margin: 0;
	font-size: 30px;
}

#field_6_5>label {
	display: none;
}

.grey-container {
	border: 1px solid #aeaebc;
	background-color: #f2f2f2;
	padding: 16px 32px;
}

.grey-container p {
	line-height: 1.25;
}

.page-template-page-landing form {
	margin-bottom: 50px !important;
}

.page-template-page-landing .left,
.page-template-page-landing .right {
	padding: 0 20px;
}

.page-template-page-landing footer[role="contentinfo"] #footerbottom {
	background: #fff;
}

.page-template-page-landing footer[role="contentinfo"] #footerbottom img {
	display: block;
	margin: 0 auto;
}

.page-template-page-landing footer[role="contentinfo"] #footerbottom p {
	color: #b9b9b9;
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	text-align: center;
	float: none;
	margin: 20px auto;
}

.page-template-page-landing footer[role="contentinfo"] #footerbottom a {
	color: #b9b9b9;
}

@media (max-width: 768px) {
	.page-template-page-landing header[role="banner"] .headertop {
		display: block;
	}

	.page-template-page-landing header[role="banner"] a.logo {
		display: block;
		position: absolute;
		left: 50%;
		margin-left: -50px;
		top: 75px;
	}

	.page-template-page-landing section#headerimg {
		min-height: 450px
	}

	.page-template-page-landing section#headerimg .wrap {
		width: 90%;
		margin-left: -45%;
		bottom: 25px;
	}
}

@media (max-width: 750px) {
	.page-template-page-landing header[role="banner"] .headertop p {
		font-size: 14px;
		text-align: center;
	}

	.page-template-page-landing header[role="banner"] .headertop .right {
		margin-bottom: 10px;
	}

	.page-template-page-landing header[role="banner"] .grey-bar p {
		font-size: 22px;
	}

	.page-template-page-landing header[role="banner"] a.logo {
		top: 100px;
	}

	.page-template-page-landing section#headerimg .wrap h1 {
		font-size: 45px;
	}

	.page-template-page-landing section#headerimg .wrap h2 {
		font-size: 22px;
	}

	.page-template-page-landing section#headerimg .wrap a.btn {
		padding: 8px 16px;
		font-size: 16px;
	}

	.page-template-page-landing .red-banner h2 {
		font-size: 22px;
	}
}

section#headerimg {
	background-color: #2b2a34 !important;
}

#field_8_4 {
	margin: 0;
}

#field_8_4 label {
	display: none;
}

#field_8_4 iframe {
	transform: scale(.75);
}

header#mobile a.logo {
	background-image: url(/wp-content/themes/schad/library/images/schad.png) !important;
	background-size: auto 100px !important;
}

header#mobile .headertop a {
	position: relative;
	z-index: 1000;
}

@media (max-width: 768px) {
	#menu-item-455 {
		width: 55%;
		border: 0px;
		background: #000;
	}

	#menu-item-455 a {
		text-align: right
	}

	#menu-item-335 {
		width: 45%;
		border: 0px;
		background: #000;
	}

	#menu-item-335 a {
		text-align: left
	}
}

/* home video */
.video-block {
	background: rgba(199, 32, 38, .8) url(/wp-content/themes/schad/library/images/stripe-dark.png) repeat 0 0;
	text-align: center;
	padding: 50px 10px;
	clear: both;
	position: relative;
	top: -230px;
	margin-bottom: -200px;
	border-top: 5px solid #e4bf2d;
}

.video-block::before {
	content: '';
	width: 0;
	height: 0;
	border-left: 14px solid transparent;
	border-right: 14px solid transparent;
	border-top: 14px solid #e4bf2d;
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -14px;
}

.video-block::after {
	content: '';
	position: absolute;
	top: -2px;
	right: 0;
	bottom: 0;
	left: 0;
	background: black;
	z-index: -1;
}

.video-block iframe {
	width: 100%;
	max-width: 640px;
}

.video-block h2 {
	max-width: 1024px;
	margin: 1em auto;
	color: #fff;
	line-height: 1.5;
	font-size: 1.25em;
}