@font-face {
  font-family: 'Socialico';
  src: url('../fonts/Socialico.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Socialico.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Socialico.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Socialico.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Socialico.svg#223af3f5c512d25d4fbc363d703cd733') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}


@font-face {
  font-family: 'Socialico Plus';
  src: url('../fonts/Socialico Plus.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Socialico Plus.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Socialico Plus.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Socialico Plus.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Socialico Plus.svg#5965a057ee59e17e43ca3ca648ef2e5c') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}
