//Define Global Site Colors

$white: #ffffff;
$offwhite: #f0f0f2;
$black: #000000;

$red: #c72026; 
$yellow: #e4bf2d;

$lightgrey: #e2e3e6;

$charcoal: #2b2a34;  
$charcoal85: rgba(43,42,52,0.85);                                         

//Define Base Font Size                                 
$base-font-size: 16px;

$Lato: 'Lato', sans-serif;
$Merriweather: 'Merriweather', serif;


