/*
 * =======================
 * HERITAGE IMAGE CAROUSEL
 * =======================
 */

.HeritageImageCarousel {
  background-color: #2b2a34;
}

.HeritageImageCarousel__item {
  height: 250px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.HeritageImageCarousel__item:focus {
  outline: none;
}

/*
 * =======================
 * HERITAGE CONTENT TEASER
 * =======================
 */

.HeritageContentTeaser {
  margin-bottom: 60px;
  padding-bottom: 60px;
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: #DADFE1;
}

.HeritageContentTeaser:after {
  content: '';
  display: table;
  clear: both;
}

.HeritageContentTeaser:first-child {
  padding-top: 40px;
}

.HeritageContentTeaser:last-child {
  margin-bottom: 0;
  border-width: 0;
}

.HeritageContentTeaser__content,
.HeritageContentTeaser__media {
  display: block;
  clear: both;
  float: none;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: static;
  left: 0;
}

.HeritageContentTeaser .HeritageContentTeaser__media iframe,
.HeritageContentTeaser .HeritageContentTeaser__media object,
.HeritageContentTeaser .HeritageContentTeaser__media embed {
  border: none !important;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  margin: 0;
  width: 100%;
  height:auto;
}

.HeritageContentTeaser__media {
  margin-bottom: 40px;
}

.HeritageContentTeaser__media img {
  width: 100%;
}

.HeritageContentTeaser__content:last-child,
.HeritageContentTeaser__media:last-child {
  margin-right: auto;
}

.HeritageContentTeaser__content:first-child,
.HeritageContentTeaser__media:first-child {
  margin-left: auto;
}

.HeritageContentTeaser__title {
  font-size: 1.87rem;
  font-family: 'Merriweather', serif;
  margin: 0 0 0.67rem;
  line-height: 1.5em;
}

.HeritageContentTeaser__text {
  margin: 0 0 2rem;
}

/*
 * ===================
 * DESKTOP ADJUSTMENTS
 * ===================
 */

@media only screen and (min-width: 767px) {
  .HeritageContentTeaser__media {
    float: left;
    clear: none;
    text-align: inherit;
    width: 39.9166666666667%;
    margin-left: 0%;
    margin-right: 3%;
    margin-bottom: 0;
  }

  .HeritageContentTeaser__content {
    float: left;
    clear: none;
    text-align: inherit;
    width: 57.0833333333333%;
    margin-left: 0%;
    margin-right: 3%;
  }

  .HeritageContentTeaser__content:last-child {
    margin-right: 0%;
  }

  .HeritageContentTeaser:nth-child(even) .HeritageContentTeaser__media {
    position: relative;
    left: 60.0833333333333%;
  }

  .HeritageContentTeaser:nth-child(even) .HeritageContentTeaser__content {
    position: relative;
    left: -42.9166666666667%;
  }
}

.ResponsiveMedia {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  height: auto;
}

.ResponsiveMedia iframe,
.ResponsiveMedia object,
.ResponsiveMedia embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


header[role="banner"] .headertop { position: relative; z-index: 2; }
section#headerimg { overflow: hidden; }
section#headerimg h1 { position: relative; z-index: 2; }
.HeritageImageCarousel { position: absolute; top: 0; height: 250px; left: 0; right: 0; }